.x-svg-btn {
  border: none;
  background-color: $color-white;
  display: inline-grid;
  place-items: center;
  transform: rotate(45deg);
  &:hover {
    transform: rotate(45deg) scale(1.06);
    transition: all ease 0.3s;
  }
  &--rotate {
    transition: all ease 0.3s;
    transform: rotate(225deg);
    &:hover {
      transition: all ease 0.3s;
      transform: rotate(225deg) scale(1.06);
    }
  }
}
