/* ____Shared Card Styling____ */
.card {
  background: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 0.25rem 1rem rgb(0 0 0 / 10%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1.5rem 1rem;
  overflow: hidden;
  width: 40%;
  min-width: 22em;
  max-width: 25rem;
  position: relative;
  align-self: flex-start;
}

.btn-round {
  background-color: $color-white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  align-self: center;
  transition: all ease-in-out 0.4s;
  padding-top: 0.5rem;
  color: $color-primary-light;
  height: 4rem;
  width: 4rem;

  svg {
    height: 2rem;
    width: 2rem;
  }

  &:hover {
    background-color: $color-primary;
    box-shadow: 0 1rem 2rem rgba(#000, 0.15);
    color: $color-white;
    transform: scale(1.08);
  }

  &:active {
    background-color: $color-primary-light;
    transition: transform 0.2s;
    box-shadow: 0 0.5rem 1rem rgba(#000, 0.15);
    transform: translateY(1px);
  }
}

.u-card-heading {
  font-weight: 600;
  text-transform: lowercase;
  padding: 1rem;
}
