/* ____Grocerylist Card____ */
.grocerylist-card {
  &__carousel {
    position: relative;
    transition: 0.3s;
    display: flex;
    align-items: center;
  }
  &__image-container {
    display: flex;
    transition: all 0.5s ease-in-out;
  }
  &__image {
    min-width: 25em;
    height: 20em;
    object-fit: cover;
  }
  &__info {
    display: flex;
    padding: 1rem;
    align-items: center;
  }
  &__tag-container {
    display: flex;
    justify-content: flex-end;
    flex: 1;
    flex-wrap: wrap;
    margin: 0;
  }
  &__tag {
    list-style: none;
    background-color: $color-primary;
    border-radius: 0.3rem;
    padding: 0.2rem 0.7rem;
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
    color: $color-white;
    transition: all ease 0.4s;

    &:not(:first-child) {
      margin-left: 0.5rem;
    }

    &:hover {
      background-color: $color-primary-dark;
    }
  }

  &__page-btn {
    background-color: $color-white;
    border: none;
    border-radius: 50%;
    height: 5rem;
    width: 5rem;
    align-self: center;
    transition: all ease 0.4s;

    &:hover {
      background-color: $color-primary;
    }
    &--svg {
      fill: $color-primary-light;
      transition: all ease 0.4s;
    }

    &:hover &--svg {
      fill: $color-white;
    }
  }
}

/* ____Hover Effect ____ */
.grocerylist-card__carousel:hover .carousel__circles:not(:hover),
.carousel__buttons:hover,
.carousel__circles:hover {
  opacity: 1;
  transition: 0.5s;
}

/* ____Carousel____ */
.carousel {
  &__buttons {
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 0.3;
    inset: 0;
  }
  &__button {
    width: 4em;
    height: 4em;
    padding: 1em;
    border-radius: 50px;
    border: none;
    background-color: transparent;
    margin: 0 1em 0 1em;
    transition: 0.5s;
    fill: #a4f0d8;
    background-color: rgba(128, 128, 128, 0.3);

    &--left {
      transform: rotate(90deg);

      &:hover {
        transform: rotate(90deg) scale(1.08);
      }
    }
    &--right {
      transform: rotate(-90deg);

      &:hover {
        transform: rotate(-90deg) scale(1.08);
      }
    }
  }
  &__circles {
    position: absolute;
    bottom: 1em;
    display: flex;
    justify-content: center;
    width: 100%;
    opacity: 0.3;
    transition: 0.3s;
    z-index: 1;
  }
  &__svg-circle {
    fill: gray;
    margin-left: 0.5rem;

    &--no-opacity {
      fill: #fff;
    }
  }
}

/* ____Paper____ */
.paper {
  position: absolute;
  height: -webkit-fill-available;
  z-index: 1;
  transition: all 0.5s ease;
  width: 100%;
  overflow-y: scroll;

  &__container {
    position: relative;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #fdf3b6;
    z-index: 500;
    min-height: 100%;

    &::before {
      content: "";
      width: 2px;
      height: 100%;
      position: absolute;
      top: 0;
      left: 40px;
      background-color: rgba(255, 0, 0, 0.6);
    }

    &--fullscreen {
      position: fixed;
      inset: 0;
      z-index: 1000;
    }
  }

  &__pattern {
    min-height: 23rem;
    background-image: repeating-linear-gradient(#fdf3b6 0px, #fdf3b6 24px, teal 25px);
  }

  &__content {
    padding-top: 6px;
    padding-left: 56px;
    padding-right: 16px;
    line-height: 25px;
    font-size: 19px;
    letter-spacing: 1px;
    word-spacing: 5px;
  }
}
/* ____TodoList____ */
// .todo-list {

//   &__incomplete{}

//   &__complete{}
// }

/* ____Todo____ */
.todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
