/* ____GrocerylistCard____ */
.grocerylist {
  &__header{
    display: flex;
    padding: 0 2rem;

    & h1 {
     margin-left: auto;
    }
    & button {
      margin-left: auto;
    }
  }
  &__add-grocerylist {}
  
}
.add-grocerylist{
  background-color: $color-primary;
}


/* ____GrocerylistCard____ */
.grocerylist-card {
  &__heading {
    display: flex;
  }
  &__carousel {
    position: relative;
    transition: 0.3s;
    display: flex;
    align-items: center;
  }
  &__image-container {
    display: flex;
    transition: all 0.5s ease-in-out;
  }
  &__image {
    min-width: 25em;
    height: 20em;
    object-fit: cover;
  }
  &__info {
    display: flex;
    padding: 1rem;
    align-items: center;
  }
  &__tag-container {
    display: flex;
    justify-content: flex-end;
    flex: 1;
    flex-wrap: wrap;
    margin: 0;
  }
  &__tag {
    list-style: none;
    background-color: $color-primary;
    border-radius: 0.3rem;
    padding: 0.2rem 0.7rem;
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
    color: $color-white;
    transition: all ease 0.4s;

    &:not(:first-child) {
      margin-left: 0.5rem;
    }

    &:hover {
      background-color: $color-primary-dark;
    }
  }

  &__page-btn {
    height: 5rem;
    width: 5rem;
    margin: -0.5rem 0 1rem 0;

    svg {
      transform: rotate(180deg);
      margin-top: 0.1rem;
      height: 3rem;
      width: 3rem;
    }
  }
}

/* ____Hover Effect ____ */
.grocerylist-card__carousel:hover .carousel__circles:not(:hover),
.carousel__buttons:hover,
.carousel__circles:hover {
  opacity: 1;
  transition: 0.5s;
}

/* ____Carousel____ */
.carousel {
  &__buttons {
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 0.3;
    inset: 0;
  }
  &__button {
    width: 4em;
    height: 4em;
    padding: 1em;
    border-radius: 50px;
    border: none;
    background-color: transparent;
    margin: 0 1em 0 1em;
    transition: 0.5s;
    background-color: rgba($color-grey-dark, 0.5);
    color: $color-white;
    display: grid;
    place-content: center;

    &:hover {
      transform: scale(1.08);
      color: $color-primary;
      background-color: rgba($color-grey-dark, 0.9);
    }
    svg {
      height: 2.5rem;
      width: 2.5rem;
    }
  }
  &__circles {
    position: absolute;
    bottom: 1em;
    display: flex;
    justify-content: center;
    width: 100%;
    opacity: 0.3;
    transition: 0.3s;
    z-index: 1;
  }
  &__svg-circle {
    fill: gray;
    margin-left: 0.5rem;

    &--no-opacity {
      fill: #fff;
    }
  }
}

// TODO: consider taking off fullscreen feature on desktop
/* ____Paper____ */
.paper {
  position: absolute;
  height: -webkit-fill-available;
  z-index: 1;
  transition: all 0.5s ease;
  overflow-y: scroll;
  width: 100%;

  &__container {
    position: relative;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #fdf3b6;
    z-index: 500;
    min-height: 100%;
    font-family: $ff-cedearville;
    text-transform: capitalize;

    &::before {
      content: "";
      width: 2px;
      height: 100%;
      position: absolute;
      top: 0;
      left: 40px;
      background-color: rgba(255, 0, 0, 0.6);
    }

    &--fullscreen {
      z-index: 1000;
      position: fixed;
      inset: 0;
      overflow-y: scroll;
      overflow-x: hidden;
    }
  }

  &__btn-container {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: 0.5rem;
    right: 0.3rem;
  }

  &__btn {
    &-svg {
      height: 2rem;
      width: 2rem;
    }

    &-expand-svg {
      height: 1.5rem;
    }

    &-minimize {
      height: 3rem;
      width: 3rem;

      &-svg {
        height: 3rem;
        width: 3rem;
      }
    }
  }

  &__pattern {
    min-height: 31rem;
    background-image: repeating-linear-gradient(#fdf3b6 0px, #fdf3b6 24px, teal 25px);
  }

  &__content {
    padding-top: 6px;
    padding-left: 56px;
    padding-right: 16px;
    line-height: 25px;
    font-size: 19px;
    letter-spacing: 1px;
    word-spacing: 5px;
  }
}

/* ____TodoList____ */
.todo-list {
  display: grid;
  place-content: center;

  // &__incomplete {
  // }

  // &__complete {
  // }
}

/* ____TodoComplete____ */
.todo-complete {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 26rem;

  &__heading {
    font-size: 1.7rem;
  }

  &__btn {
    margin-top: 1rem;
    height: 5rem;
    width: 5rem;
    display: grid;
    place-content: center;
  }
}

/* ____Todo____ */
.todo {
  width: 100%;
  &__input {
    display: none;
  }

  &__label {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;

    transition: 1s all ease-in-out;

    &--checked {
      text-decoration: line-through;
      text-decoration-color: $color-grey-dark;
      color: $color-grey-dark;
    }
  }
  &__checkbox {
    height: 1.2rem;
    width: 1.2rem;
    aspect-ratio: 1;
    border: 3px solid #b1b1b1;
    border-radius: 50%;
    order: 1;
    position: relative;
    align-self: start;
    margin-left: 1rem;
  }
  &__check {
    display: block;
    opacity: 0;
    color: $color-primary;
    position: absolute;
    top: -1rem;
    right: -0.9rem;
    transition: opacity cubic-bezier(1, 0, 0, 1);

    svg {
      height: 2.2rem;
      width: 2.2rem;
    }
  }

  &__input:checked ~ &__label &__check {
    opacity: 1;
  }
}
