.navbar {
  display: flex;
  align-items: center;
  max-width: 1550px;
  color: #000;
  position: relative;
  z-index: 1;
  margin: 0 auto;
  padding: 0 5rem;

  &__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 10%;
  }

  &__list {
    display: flex;
    align-items: center;
    flex: 0 0 90%;
  }

  &__item {
    list-style: none;
    margin-left: 2rem;
  }

  &__link,
  &__link:visited {
    text-decoration: none;
    color: $color-black;
    transition: all 0.3s ease;
    padding: 0.5rem 1rem;

    &:hover {
      color: $color-primary;
    }
  }
  &__active,
  &__active:visited {
    text-decoration: none;
    color: $color-white;
    background-color: $color-primary;
    border-radius: 5px;

    &:hover {
      color: $color-white;
    }
  }
}
