/* ____Grocerylist____ */
.grocerylist {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__header {
    display: flex;
    align-items: center;
    padding: 1rem 2rem;
    width: 100%;
    margin-bottom: 0.5rem;

    & h1 {
      margin-left: auto;
    }
    & button {
      margin-left: auto;
    }
  }
  .add-form {
    overflow-y: scroll;
    justify-content: flex-start;
    &__container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__label {
      width: 70%;
    }

    &__switch {
      position: relative;
      display: inline-block;
      min-width: 60px;
      height: 34px;

      /* Hide default HTML checkbox */
      & input {
        opacity: 0;
        width: 0;
        height: 0;
      }
    }

    /* The slider */
    &__slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: $color-grey-dark;
      transition: 0.4s all ease-in-out;
      border-radius: 34px;

      &:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        transition: 0.4s;
        border-radius: 50%;
      }

      &:hover {
        background-color: $color-secondary-light;
      }
    }

    &__checkbox {
      &:checked + .add-form__slider {
        background-color: $color-secondary;
      }
      &:focus + .add-form__slider {
        box-shadow: 0 0 1px $color-secondary;
      }
      &:checked + .add-form__slider:before {
        transform: translateX(26px);
      }
    }

    &__switch-container {
      display: flex;
      justify-content: space-between;
      width: 45%;

      &:not(:last-child) {
        margin-bottom: 1rem;
      }

      p {
        margin-right: 10rem;
        color: $color-white;
        text-transform: lowercase;
      }
    }
    &__btn {
      margin: 1rem 0;
    }
  }
}

/* ____GrocerylistCard____ */
.grocerylist-card {
  &__heading {
    display: flex;
  }
  &__carousel {
    position: relative;
    transition: 0.3s;
    display: flex;
    align-items: center;
  }
  &__image-container {
    display: flex;
    transition: all 0.5s ease-in-out;
  }
  &__image {
    min-width: 25em;
    height: 20em;
    object-fit: cover;

    @include respond(phone) {
      min-width: 100%;
      height: 25rem;
    }
  }
  &__info {
    display: flex;
    padding: 1rem;
    align-items: center;
  }
  &__tag-container {
    display: flex;
    justify-content: flex-end;
    flex: 1;
    flex-wrap: wrap;
    margin: 0;
  }
  &__tag {
    list-style: none;
    background-color: $color-primary;
    border-radius: 0.3rem;
    padding: 0.2rem 0.7rem;
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
    color: $color-white;
    transition: all ease 0.4s;
    text-transform: lowercase;
    max-width: 20ch;
    height: 3ch;
    position: relative;
    min-width: 6ch;
    overflow: hidden;
    width: clamp(3.5rem, 4rem, 5rem);

    &:not(:first-child) {
      margin-left: 0.5rem;
    }

    &:hover {
      background-color: $color-primary-dark;
    }

    &-span {
      position: absolute;
      width: max-content;
      height: 3ch;

      &:hover {
        animation: pan 3.5s linear infinite forwards;
      }
    }
  }

  @keyframes pan {
    to {
      transform: translateX(-100%);
    }
  }

  &__page-btn {
    height: 5rem;
    width: 5rem;
    margin: -0.5rem 0 1rem 0;

    svg {
      transform: rotate(180deg);
      margin-top: 0.1rem;
      height: 3rem;
      width: 3rem;
    }
  }

  @include respond(phone) {
    width: 100%;
    margin: 0.2rem 0;
    max-width: none;
    border-radius: 0;
  }
}

/* ____Hover Effect ____ */
.grocerylist-card__carousel:hover .carousel__circles:not(:hover),
.carousel__buttons:hover,
.carousel__circles:hover {
  opacity: 1;
  transition: 0.5s;
}

/* ____Carousel____ */
.carousel {
  &__buttons {
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 0.3;
    inset: 0;
  }
  &__button {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    border: none;
    margin: 0 1em 0 1em;
    transition: 0.4s all ease;
    background-color: rgba($color-black, 0.5);
    color: $color-white;
    display: grid;
    place-items: center;

    &:hover {
      color: $color-primary;
      background-color: rgba($color-black, 0.8);
    }
    svg {
      height: 2.5rem;
      width: 2.5rem;
    }
  }
  &__circles {
    position: absolute;
    bottom: -1rem;
    display: flex;
    justify-content: center;
    width: 100%;
    opacity: 0.3;
    transition: 0.3s;
    z-index: 1;
  }
  &__svg-circle {
    fill: $color-grey-dark-2;
    margin-left: 0.5rem;
    height: 0.8rem;
    width: 0.8rem;

    &--fill-white {
      fill: lighten($color-grey-dark, 0.9);
    }
  }
}

// TODO: consider taking off fullscreen feature on desktop
/* ____Paper____ */
.paper {
  position: absolute;
  height: -webkit-fill-available;
  z-index: 1;
  transition: all 0.5s ease;
  overflow-y: scroll;
  width: 100%;

  &__container {
    position: relative;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #fdf3b6;
    z-index: 500;
    min-height: 100%;
    font-family: $ff-cedearville;
    text-transform: capitalize;

    &::before {
      content: "";
      width: 2px;
      height: 100%;
      position: absolute;
      top: 0;
      left: 40px;
      background-color: rgba(255, 0, 0, 0.6);
    }

    &--fullscreen {
      z-index: 1000;
      position: fixed;
      inset: 0;
      overflow-y: scroll;
      overflow-x: hidden;
    }
  }

  &__btn-container {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: 0.5rem;
    right: 0.3rem;
  }

  &__btn {
    display: grid;
    place-items: center;
    border: none;
    background-color: transparent;
    border-radius: 5px;
    transition: 0.3s ease all;
    color: $color-grey-dark;

    &:hover {
      background-color: rgba($color-black, 0.3);
      color: $color-primary;
    }

    &-svg {
      height: 2rem;
      width: 2rem;
    }

    &-expand-svg {
      height: 1.5rem;
    }

    &-minimize {
      height: 3rem;
      width: 3rem;

      &-svg {
        height: 3rem;
        width: 3rem;
      }
    }
  }

  &__pattern {
    min-height: 31rem;
    background-image: repeating-linear-gradient(#fdf3b6 0px, #fdf3b6 24px, teal 25px);
  }

  &__content {
    padding-top: 6px;
    padding-left: 56px;
    padding-right: 16px;
    line-height: 25px;
    font-size: 19px;
    letter-spacing: 1px;
    word-spacing: 5px;
  }
}

/* ____TodoList____ */
.todo-list {
  display: grid;
  place-content: center;
}

/* ____TodoComplete____ */
.todo-complete {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 26rem;

  &__heading {
    font-size: 1.7rem;
  }

  &__btn {
    margin-top: 1rem;
    height: 5rem;
    width: 5rem;
    display: grid;
    place-content: center;
  }
}

/* ____Todo____ */
.todo {
  width: 100%;
  &__input {
    display: none;
  }

  &__label {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;

    transition: 1s all ease-in-out;

    &--checked {
      text-decoration: line-through;
      text-decoration-color: $color-grey-dark;
      color: $color-grey-dark;
    }
  }
  &__checkbox {
    height: 1.2rem;
    width: 1.2rem;
    aspect-ratio: 1;
    border: 3px solid #b1b1b1;
    border-radius: 50%;
    order: 1;
    position: relative;
    align-self: start;
    margin-left: 1rem;
  }
  &__check {
    display: block;
    opacity: 0;
    color: $color-primary;
    position: absolute;
    top: -1rem;
    right: -0.9rem;
    transition: opacity cubic-bezier(1, 0, 0, 1);

    svg {
      height: 2.2rem;
      width: 2.2rem;
    }
  }

  &__input:checked ~ &__label &__check {
    opacity: 1;
  }
}
