/* ___LoadingCards____ */
@mixin animate($name, $animation, $duration, $method, $times) {
  animation: $name $animation $duration $method $times;
}
@mixin keyframes($name) {
  @keyframes #{$name} {
    @content;
  }
}

@mixin shimmer($color1: #ececec, $color2: #f5f5f5) {
  background: linear-gradient(110deg, $color1 8%, $color2 18%, $color1 33%);
  background-size: 200% 100%;

  @include keyframes(shimmer) {
    to {
      background-position-x: -200%;
    }
  }
  @include animate(shimmer, linear, 2s, forwards, infinite);
}

.loading-cards {
  background-color: $color-tertiary;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  height: 87vh;
  width: 100%;
  position: relative;

  &__card {
    background-color: $color-white;
    height: 35rem;
  }

  &__heading {
    height: 12%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;

    &-h1 {
      height: 2rem;
      width: 7rem;
      margin-left: 1rem;
      border-radius: 5px;
      @include shimmer();
    }
  }
  &__img-container {
    height: 60%;
    border-radius: 5px;
    @include shimmer();
  }
  &__info {
    height: 14%;
    position: relative;
    background-color: $color-white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-title {
      height: 2rem;
      width: 8rem;
      margin: 0 1rem;
      border-radius: 5px;
      @include shimmer();
    }
    &-tags {
      width: 50%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      margin-right: 1rem;
      flex-wrap: wrap;
    }
    &-tag {
      margin-left: 0.6rem;
      height: 1.5rem;
      width: 5rem;
      background-color: rgba($color-primary-light, 0.5);
      border-radius: 5px;
      @include shimmer($color-primary, $color-primary-light);
    }
  }
  &__button {
    height: 14%;
    background-color: $color-white;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    &-content {
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
      background-color: rgba($color-primary-light, 0.5);
      @include shimmer($color-primary, $color-primary-light);
    }
  }
}
