.recipe__card-container,
.grocerylist__card-container {
  max-width: 1550px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

html {
  @include respond(desktop) {
    font-size: 105%; // 1 rem = 12px, 12/16 = 75%
  }
  @include respond(tab-land) {
    font-size: 95%; // 1 rem = 9px, 9/16 = 56.25%
  }
  // @include respond(tab-port) {
  //   font-size: 90%; // 1 rem = 8px, 8/16 = 50%
  // }
}

.App {
  @include respond(tab-port) {
    overflow: auto;
  }
}
