/* ____Variables___ */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background-color: antiquewhite;
  font-family: "Montserrat", sans-serif;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.recipe__card-container,
.grocerylist__card-container {
  max-width: 1550px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

/* ___Buttons____ */
.delete-btn {
  display: grid;
  place-items: center;
  background-color: transparent;
  border: none;
  border-radius: 5px;
  transition: all ease-in-out 0.3s;
  color: #fff;
  padding: 0.7rem;
}
.delete-btn svg {
  height: 1.5rem;
  width: 1.5rem;
}
.delete-btn:hover {
  background-color: #a50104;
}

.x-svg-btn {
  border: none;
  background-color: antiquewhite;
  display: inline-grid;
  place-items: center;
  transform: rotate(45deg);
}
.x-svg-btn:hover {
  transform: rotate(45deg) scale(1.06);
  transition: all ease 0.3s;
}
.x-svg-btn--rotate {
  transition: all ease 0.3s;
  transform: rotate(180deg);
}
.x-svg-btn--rotate:hover {
  transition: all ease 0.3s;
  transform: rotate(180deg) scale(1.06);
}

.add-btn-submit {
  padding: 1rem 2rem;
  background-color: #fff;
  border: none;
  display: flex;
  align-items: center;
  border-radius: 5px;
  transition: all ease-in-out 0.3s;
  align-self: center;
  margin-bottom: 1rem;
  cursor: pointer;
}
.add-btn-submit span {
  color: #000;
  height: 1.5rem;
  width: 1.5rem;
  margin-left: 0.5rem;
  transition: all ease-in-out 0.3s;
}
.add-btn-submit:hover {
  background-color: #20bf55;
  color: #fff;
}
.add-btn-submit:hover span {
  color: #fff;
}
.add-btn-svg {
  color: #20bf55;
}
.add-btn-svg svg {
  height: 1.5rem;
  width: 1.5rem;
  transition: all ease-in-out 0.3s;
  margin-left: 1rem;
}
.add-btn-svg--hidden {
  display: none;
}

.btn-round {
  background-color: #fff;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  align-self: center;
  transition: all ease-in-out 0.4s;
  padding-top: 0.5rem;
  color: #ff9785;
  height: 4rem;
  width: 4rem;
}
.btn-round svg {
  height: 2rem;
  width: 2rem;
}
.btn-round:hover {
  background-color: #ff6347;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  color: #fff;
  transform: scale(1.08);
}
.btn-round:active {
  background-color: #ff9785;
  transition: transform 0.2s;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(1px);
}

/* ____Card____ */
.card {
  background: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1.5rem 1rem;
  overflow: hidden;
  width: 40%;
  min-width: 22em;
  max-width: 25rem;
  position: relative;
  align-self: flex-start;
}

.u-card-heading {
  font-weight: 600;
  text-transform: lowercase;
  padding: 1rem;
}

/* ____Form____ */
.add-form {
  width: 100%;
  background-color: #ff6347;
  max-height: 0;
  overflow: hidden;
  transition: max-height ease 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
.add-form--show {
  max-height: 600px;
  transition: max-height ease-in-out 0.3s;
}

/* ____DeleteConfirmation____ */
.delete-confirmation {
  position: fixed;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
  inset: 0;
  background-color: #fff;
  width: 56%;
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  margin: auto auto;
  border-radius: 5px;
  text-align: center;
  opacity: 1;
  transition: all 0.4s ease-in;
  transform: translateY(0);
}
.delete-confirmation--hidden {
  opacity: 0;
  transform: translateY(100%);
  z-index: -5;
}
.delete-confirmation h1 {
  width: 65%;
  padding-bottom: 1rem;
}
.delete-confirmation__btns {
  margin-top: 2rem;
  display: flex;
  width: 40%;
  justify-content: space-around;
  gap: 2rem;
}
.delete-confirmation__btn {
  padding: 1rem 3rem;
  transition: 0.3s all ease;
  border-radius: 5px;
  border: none;
}
.delete-confirmation__btn:hover {
  color: #fff;
}
.delete-confirmation__btn--cancel {
  background-color: transparent;
}
.delete-confirmation__btn--cancel:hover {
  background-color: #b1b1b1;
}
.delete-confirmation__btn--confirm {
  background-color: rgba(165, 1, 4, 0.3);
  display: flex;
  align-items: center;
}
.delete-confirmation__btn--confirm:hover {
  background-color: #a50104;
  color: #fff;
}
.delete-confirmation__btn--confirm span {
  height: 1.5rem;
  width: 1.5rem;
  margin-left: 0.5rem;
}
.delete-confirmation__btn--confirm span:hover {
  color: #fff;
}

.modal-blur {
  position: fixed;
}
.modal-blur::before {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  content: "";
  z-index: 100;
  opacity: 0.5;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  position: relative;
}
.login__background {
  height: 60%;
  width: 30%;
  background-color: #fff;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  z-index: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.15);
}
.login__primary-color {
  background-color: #ff6347;
  position: absolute;
  width: 100%;
  height: 65%;
  z-index: -1;
}
.login__top {
  height: 50%;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 1rem;
}
.login__top h1 {
  padding-bottom: 3rem;
  font-size: 1rem;
  color: #fff;
}
.login__btn {
  align-self: stretch;
  height: 5rem;
  border-radius: 7px;
  margin-bottom: -2rem;
  background-color: #ff5233;
  color: #fff;
  display: grid;
  place-items: center;
  box-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
.login__btn:hover {
  background-color: #fff;
  color: #ff5233;
}
.login__form {
  background-color: #fff;
  border-radius: 7px;
  height: 43%;
  width: 80%;
  box-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.15);
  display: grid;
  place-items: center;
  margin: 0 auto;
}
.login__form-input {
  width: 80%;
  border: 1px solid #b1b1b1;
  border-radius: 3px;
  padding: 0.5rem 1rem;
  transition: all 0.4s ease-in-out;
}
.login__form-input:first-child {
  margin-bottom: -0.5rem;
  margin-top: 0.9rem;
}
.login__form-input:focus {
  outline: none;
  box-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.15);
  border-bottom: 2px solid #20bf55;
}
.login__form-input:invalid {
  border-bottom: 2px solid #a50104;
}
.login__form-btn {
  align-self: center;
  width: 80%;
  display: grid;
  place-items: center;
  background-color: #ff6347;
  transition: all 0.4s ease-in-out;
  color: #fff;
  cursor: pointer;
}
.login__form-btn:hover {
  background-color: #ff5233;
}
.login__register, .login__register:visited {
  text-decoration: none;
  color: #b1b1b1;
  transition: 0.3s ease all;
}
.login__register:hover, .login__register:visited:hover {
  color: #ff6347;
}

.register .login__top {
  height: 40%;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 1rem;
}
.register .login__form {
  gap: 0.5rem;
  height: 50%;
}
.register .login__form-input:first-child {
  margin-bottom: 0;
  margin-top: 0.9rem;
}

.error-toast {
  position: absolute;
  bottom: 2rem;
  margin-left: auto;
  background-color: #ff000453;
  align-items: center;
  left: 0;
  right: 0;
  width: 35%;
  margin-right: auto;
  border-radius: 10px;
  color: #a50104;
  border: 1px solid #a50104;
  transform: translateY(300%);
  transition: all 0.6s ease-in-out;
  display: flex;
  justify-content: space-evenly;
  opacity: 0;
}
.error-toast--show {
  transform: translateY(0);
  opacity: 1;
}
.error-toast__message {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 26ch;
}
.error-toast__message h3 {
  padding-right: 1rem;
}
.error-toast__slash {
  width: 2rem;
  height: 2rem;
  min-width: 2rem;
  min-height: 2rem;
}
.error-toast__cross {
  color: rgba(165, 1, 4, 0.4);
  background-color: transparent;
  border: 3px solid transparent;
  border-radius: 5px;
  display: grid;
  place-items: center;
  transition: all 0.4s ease-in-out;
}
.error-toast__cross:hover {
  border: 3px solid rgba(165, 1, 4, 0.8);
  color: rgba(165, 1, 4, 0.8);
}

.navbar {
  display: flex;
  align-items: center;
  max-width: 1550px;
  color: #000;
  position: relative;
  z-index: 1;
  margin: 0 auto;
  padding: 0 5rem;
}
.navbar__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 10%;
}
.navbar__list {
  display: flex;
  align-items: center;
  flex: 0 0 90%;
}
.navbar__item {
  list-style: none;
  margin-left: 2rem;
}
.navbar__item:last-child {
  margin-left: auto;
}
.navbar__link, .navbar__link:visited {
  text-decoration: none;
  color: #000;
  transition: all 0.3s ease;
  padding: 0.5rem 1rem;
}
.navbar__link:hover, .navbar__link:visited:hover {
  color: #ff6347;
}
.navbar__active, .navbar__active:visited {
  text-decoration: none;
  color: #fff;
  background-color: #ff6347;
  border-radius: 5px;
}
.navbar__active:hover, .navbar__active:visited:hover {
  color: #fff;
}
.navbar__logout {
  margin-bottom: 0;
  padding: 0.5rem 1rem;
}
.navbar__logout:hover {
  background-color: #b1b1b1;
}

/* ____Recipe____ */
.recipe {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.recipe__header {
  display: flex;
  padding: 0 2rem;
  width: 100%;
}
.recipe__header h1 {
  margin-left: auto;
}
.recipe__header button {
  margin-left: auto;
}

/* ____AddRecipe____ */
.add-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.add-form__container {
  width: 90%;
}
.add-form__container--top {
  flex-direction: column;
}
.add-form__container--bottom {
  transition: all 0.3s ease-in-out;
  display: flex;
}
.add-form__label {
  display: flex;
  justify-content: space-between;
  background-color: white;
  margin: 1rem;
  border-radius: 5px;
  color: #777;
  padding: 0.2rem 1rem;
  transition: all 0.6s;
}
.add-form__label:focus-within {
  margin: 1rem -0.4rem;
}
.add-form__label-textarea:focus-within {
  margin: 1rem;
  flex: 0 0 60%;
  width: 25ch;
}
.add-form__label-textarea:focus-within .add-recipe__textarea::placeholder {
  width: 30ch;
}
.add-form__textarea {
  resize: none;
  border: none;
  border-radius: 5px;
  width: 50%;
  outline: none;
}
.add-form__textarea::placeholder {
  width: 15ch;
}
.add-form__textarea:focus {
  width: 65%;
}
.add-form__input {
  border: none;
  width: 50%;
  transition: all ease-in-out 0.3s;
}
.add-form__input:focus {
  outline: none;
}

/* ____RecipeCard____ */
.recipe-card__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.recipe-card__author {
  position: absolute;
  bottom: 0;
  left: 1rem;
  color: #b1b1b1;
  text-transform: lowercase;
  font-size: 0.8rem;
}
.recipe-card__author-span {
  color: #ff6347;
}
.recipe-card__name {
  padding-left: 0.5em;
}
.recipe-card__img-container {
  width: 100%;
  object-fit: contain;
}
.recipe-card__img {
  width: 100%;
  height: 20em;
  object-fit: cover;
}
.recipe-card__description {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1em;
}
.recipe-card__learn-button {
  background: none;
  border: none;
  color: #b1b1b1;
  cursor: pointer;
}
.recipe-card__learn-button--hidden {
  overflow: hidden;
  max-height: 0;
  transition: all ease 0.3s;
}
.recipe-card__carrot-button {
  margin-bottom: 0.6em;
}
.recipe-card__carrot-button:hover {
  transform: scale(1.07);
  color: #fff;
}
.recipe-card__carrot-button--rotate {
  transition: all ease-in-out 0.4s;
  transform: rotate(180deg);
}
.recipe-card__carrot-button--rotate:hover {
  transform: rotate(180deg) scale(1.07);
  box-shadow: 0rem -0.5rem 1rem rgba(0, 0, 0, 0.15);
  transition: box-shadow none;
}

.ingredients {
  transition: all ease-in-out 0.3s;
}

/* ____Edit Recipe____ */
.edit-card {
  position: absolute;
  top: 150%;
  right: 0;
  left: 0;
  bottom: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.8));
  transition: all ease 0.5s;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  overflow: hidden;
}
.edit-card--show {
  top: 0;
  overflow-y: scroll;
}

.recipe-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.recipe-form__input {
  padding: 1em;
  margin: 1em;
  border-radius: 5px;
  border: none;
}
.recipe-form__input-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.recipe-form__add-input {
  max-height: 0;
  padding: 0;
  transition: all ease 0.5s;
  overflow: hidden;
}
.recipe-form__add-input--show {
  transition: all ease 0.5s;
  max-height: fit-content;
  padding: 1em;
}
.recipe-form__btn svg {
  height: 1.2rem;
  width: 1.2rem;
  transform: rotate(45deg);
}

.edit-ingredients {
  display: flex;
  margin: 4em 0em 0em 1em;
  flex-wrap: wrap;
  width: 100%;
}
.edit-ingredients__input {
  margin: 0.5em;
  border-radius: 1em;
  border: none;
  padding: 1em;
  width: 35%;
}

/* ____CardMenu____ */
.card-menu {
  position: relative;
  display: inline-block;
}
.card-menu__btn {
  border-radius: 0.6rem;
  height: 3rem;
  width: 3rem;
  margin-right: 0.7rem;
}
.card-menu__content {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.card-menu__content > button {
  border: none;
  padding: 0.5rem 0;
}
.card-menu__content > button:hover {
  background-color: #777;
  color: #fff;
  transition: all 0.3s;
}
.card-menu__content--show {
  display: flex;
  flex-direction: column;
  right: 0;
  border-radius: 0.25rem;
  overflow: hidden;
}

/* ____Accordian____ */
.accordian {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: max-height ease 0.3s;
}
.accordian--hidden {
  overflow: hidden;
  max-height: 0 !important;
  transition: all ease 0.3s;
}
.accordian__tabs {
  display: flex;
  justify-content: space-evenly;
  padding: 1rem 0;
  align-items: center;
}
.accordian__link {
  padding: 0.5rem 1rem;
}

/* ____RecipeIngredients____ */
.recipe-ingredients {
  padding-left: 1rem;
}
.recipe-ingredients__item {
  padding-bottom: 1rem;
  list-style: none;
}
.recipe-ingredients__paragraph {
  margin: 0;
  letter-spacing: 1.5px;
}

/* ____RecipeInstructions____ */
.recipe-instructions {
  letter-spacing: 1.4px;
  padding: 1rem;
  margin-left: 1rem;
}
.recipe-instructions__item {
  padding: 0.5em 1em 0.5em 0.5em;
  margin: 0 0.5em;
}

/* ____Grocerylist____ */
.grocerylist {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.grocerylist__header {
  display: flex;
  padding: 0 2rem;
  width: 100%;
}
.grocerylist__header h1 {
  margin-left: auto;
}
.grocerylist__header button {
  margin-left: auto;
}
.grocerylist .add-form {
  overflow-y: scroll;
  justify-content: flex-start;
  /* The slider */
}
.grocerylist .add-form__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.grocerylist .add-form__label {
  width: 70%;
}
.grocerylist .add-form__switch {
  position: relative;
  display: inline-block;
  min-width: 60px;
  height: 34px;
  /* Hide default HTML checkbox */
}
.grocerylist .add-form__switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.grocerylist .add-form__slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #b1b1b1;
  transition: 0.4s all ease-in-out;
  border-radius: 34px;
}
.grocerylist .add-form__slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}
.grocerylist .add-form__slider:hover {
  background-color: #3fde74;
}
.grocerylist .add-form__checkbox:checked + .add-form__slider {
  background-color: #20bf55;
}
.grocerylist .add-form__checkbox:focus + .add-form__slider {
  box-shadow: 0 0 1px #20bf55;
}
.grocerylist .add-form__checkbox:checked + .add-form__slider:before {
  transform: translateX(26px);
}
.grocerylist .add-form__switch-container {
  display: flex;
  justify-content: space-between;
  width: 45%;
}
.grocerylist .add-form__switch-container:not(:last-child) {
  margin-bottom: 1rem;
}
.grocerylist .add-form__switch-container p {
  margin-right: 10rem;
  color: #fff;
  text-transform: lowercase;
}
.grocerylist .add-form__btn {
  margin: 1rem 0;
}

/* ____GrocerylistCard____ */
.grocerylist-card__heading {
  display: flex;
}
.grocerylist-card__carousel {
  position: relative;
  transition: 0.3s;
  display: flex;
  align-items: center;
}
.grocerylist-card__image-container {
  display: flex;
  transition: all 0.5s ease-in-out;
}
.grocerylist-card__image {
  min-width: 25em;
  height: 20em;
  object-fit: cover;
}
.grocerylist-card__info {
  display: flex;
  padding: 1rem;
  align-items: center;
}
.grocerylist-card__tag-container {
  display: flex;
  justify-content: flex-end;
  flex: 1;
  flex-wrap: wrap;
  margin: 0;
}
.grocerylist-card__tag {
  list-style: none;
  background-color: #ff6347;
  border-radius: 0.3rem;
  padding: 0.2rem 0.7rem;
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
  color: #fff;
  transition: all ease 0.4s;
  text-transform: lowercase;
  max-width: 20ch;
  height: 3ch;
  position: relative;
  min-width: 6ch;
  overflow: hidden;
  width: 4rem;
}
.grocerylist-card__tag:not(:first-child) {
  margin-left: 0.5rem;
}
.grocerylist-card__tag:hover {
  background-color: #ff5233;
}
.grocerylist-card__tag-span {
  position: absolute;
  width: max-content;
  height: 3ch;
}
.grocerylist-card__tag-span:hover {
  animation: pan 3.5s linear infinite forwards;
}
@keyframes pan {
  to {
    transform: translateX(-100%);
  }
}
.grocerylist-card__page-btn {
  height: 5rem;
  width: 5rem;
  margin: -0.5rem 0 1rem 0;
}
.grocerylist-card__page-btn svg {
  transform: rotate(180deg);
  margin-top: 0.1rem;
  height: 3rem;
  width: 3rem;
}

/* ____Hover Effect ____ */
.grocerylist-card__carousel:hover .carousel__circles:not(:hover),
.carousel__buttons:hover,
.carousel__circles:hover {
  opacity: 1;
  transition: 0.5s;
}

/* ____Carousel____ */
.carousel__buttons {
  position: absolute;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 0.3;
  inset: 0;
}
.carousel__button {
  width: 4em;
  height: 4em;
  padding: 1em;
  border-radius: 50px;
  border: none;
  background-color: transparent;
  margin: 0 1em 0 1em;
  transition: 0.5s;
  background-color: rgba(177, 177, 177, 0.5);
  color: #fff;
  display: grid;
  place-content: center;
}
.carousel__button:hover {
  transform: scale(1.08);
  color: #ff6347;
  background-color: rgba(177, 177, 177, 0.9);
}
.carousel__button svg {
  height: 2.5rem;
  width: 2.5rem;
}
.carousel__circles {
  position: absolute;
  bottom: 1em;
  display: flex;
  justify-content: center;
  width: 100%;
  opacity: 0.3;
  transition: 0.3s;
  z-index: 1;
}
.carousel__svg-circle {
  fill: gray;
  margin-left: 0.5rem;
}
.carousel__svg-circle--no-opacity {
  fill: #fff;
}

/* ____Paper____ */
.paper {
  position: absolute;
  height: -webkit-fill-available;
  z-index: 1;
  transition: all 0.5s ease;
  overflow-y: scroll;
  width: 100%;
}
.paper__container {
  position: relative;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #fdf3b6;
  z-index: 500;
  min-height: 100%;
  font-family: "Cedarville Cursive", cursive;
  text-transform: capitalize;
}
.paper__container::before {
  content: "";
  width: 2px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 40px;
  background-color: rgba(255, 0, 0, 0.6);
}
.paper__container--fullscreen {
  z-index: 1000;
  position: fixed;
  inset: 0;
  overflow-y: scroll;
  overflow-x: hidden;
}
.paper__btn-container {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  top: 0.5rem;
  right: 0.3rem;
}
.paper__btn {
  display: grid;
  place-items: center;
  border: none;
  background-color: transparent;
  border-radius: 5px;
  transition: 0.3s ease all;
  color: #b1b1b1;
}
.paper__btn:hover {
  background-color: rgba(0, 0, 0, 0.3);
  color: #ff6347;
}
.paper__btn-svg {
  height: 2rem;
  width: 2rem;
}
.paper__btn-expand-svg {
  height: 1.5rem;
}
.paper__btn-minimize {
  height: 3rem;
  width: 3rem;
}
.paper__btn-minimize-svg {
  height: 3rem;
  width: 3rem;
}
.paper__pattern {
  min-height: 31rem;
  background-image: repeating-linear-gradient(#fdf3b6 0px, #fdf3b6 24px, teal 25px);
}
.paper__content {
  padding-top: 6px;
  padding-left: 56px;
  padding-right: 16px;
  line-height: 25px;
  font-size: 19px;
  letter-spacing: 1px;
  word-spacing: 5px;
}

/* ____TodoList____ */
.todo-list {
  display: grid;
  place-content: center;
}

/* ____TodoComplete____ */
.todo-complete {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 26rem;
}
.todo-complete__heading {
  font-size: 1.7rem;
}
.todo-complete__btn {
  margin-top: 1rem;
  height: 5rem;
  width: 5rem;
  display: grid;
  place-content: center;
}

/* ____Todo____ */
.todo {
  width: 100%;
}
.todo__input {
  display: none;
}
.todo__label {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 1s all ease-in-out;
}
.todo__label--checked {
  text-decoration: line-through;
  text-decoration-color: #b1b1b1;
  color: #b1b1b1;
}
.todo__checkbox {
  height: 1.2rem;
  width: 1.2rem;
  aspect-ratio: 1;
  border: 3px solid #b1b1b1;
  border-radius: 50%;
  order: 1;
  position: relative;
  align-self: start;
  margin-left: 1rem;
}
.todo__check {
  display: block;
  opacity: 0;
  color: #ff6347;
  position: absolute;
  top: -1rem;
  right: -0.9rem;
  transition: opacity cubic-bezier(1, 0, 0, 1);
}
.todo__check svg {
  height: 2.2rem;
  width: 2.2rem;
}
.todo__input:checked ~ .todo__label .todo__check {
  opacity: 1;
}

/* ___LoadingCards____ */
.loading-cards {
  background-color: antiquewhite;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  height: 87vh;
  width: 100%;
  position: relative;
}
.loading-cards__card {
  background-color: #fff;
  height: 35rem;
}
.loading-cards__heading {
  height: 12%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}
.loading-cards__heading-h1 {
  height: 2rem;
  width: 7rem;
  margin-left: 1rem;
  border-radius: 5px;
  background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
  background-size: 200% 100%;
  animation: shimmer linear 2s forwards infinite;
}
@keyframes shimmer {
  to {
    background-position-x: -200%;
  }
}
.loading-cards__img-container {
  height: 60%;
  border-radius: 5px;
  background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
  background-size: 200% 100%;
  animation: shimmer linear 2s forwards infinite;
}
@keyframes shimmer {
  to {
    background-position-x: -200%;
  }
}
.loading-cards__info {
  height: 14%;
  position: relative;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.loading-cards__info-title {
  height: 2rem;
  width: 8rem;
  margin: 0 1rem;
  border-radius: 5px;
  background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
  background-size: 200% 100%;
  animation: shimmer linear 2s forwards infinite;
}
@keyframes shimmer {
  to {
    background-position-x: -200%;
  }
}
.loading-cards__info-tags {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 1rem;
  flex-wrap: wrap;
}
.loading-cards__info-tag {
  margin-left: 0.6rem;
  height: 1.5rem;
  width: 5rem;
  background-color: rgba(255, 151, 133, 0.5);
  border-radius: 5px;
  background: linear-gradient(110deg, #ff6347 8%, #ff9785 18%, #ff6347 33%);
  background-size: 200% 100%;
  animation: shimmer linear 2s forwards infinite;
}
@keyframes shimmer {
  to {
    background-position-x: -200%;
  }
}
.loading-cards__button {
  height: 14%;
  background-color: #fff;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loading-cards__button-content {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: rgba(255, 151, 133, 0.5);
  background: linear-gradient(110deg, #ff6347 8%, #ff9785 18%, #ff6347 33%);
  background-size: 200% 100%;
  animation: shimmer linear 2s forwards infinite;
}
@keyframes shimmer {
  to {
    background-position-x: -200%;
  }
}

/*# sourceMappingURL=index.css.map */
